// Fonts
$font-primary:    'Manrope', sans-serif;
$font-secondary:  'Playfair Display', serif;

// Colors
$white:         #FFFFFF;
$gray:          #E7E6E6;
$yellow:        #FEC800;
$orange:        #FF7A00;
$green:         #72AD3E;
$purple-light:  #8446B8;
$purple:        #35065D;
$purple-dark:   #270444;
$blue-dark:     #161051;
$black:         #000000;